<!DOCTYPE html>
<html>

<head>
  <title>
    DAB Hotels
  </title>
  <link href="/stylesheets/hotels.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%-include('./partials/navbar.ejs')%>
  <%- include('./partials/loggedInAs.ejs', {username: username}) %>
    <div class="container">
      <h2 class="p-3 text-center">Choose a hotel</h2>
      <hr>
      <div class="list-group">
        <% hotels.forEach(function(hotel) { %>
          <div class="row px-3 py-1 w-100">
            <span class="col py-1 bg-info me-1 rounded-1">
              <%=hotel.Name%><span class="right">
                  <%=hotel.Location%>
                </span>
            </span>
            <%if(user !=null){%>
              <a href="/rooms/<%=hotel.id%>" class="col btn btn-success me-1">Rent a room</a>
              <%};%>
                <a href="/hotels/<%=hotel.id%>" class="col btn btn-warning me-1">Details</a>
                <button onclick="deleteHotel('/hotels/','<%=hotel.id%>')" class="col btn btn-secondary">Delete</button>
          </div>
          <% }); %>
      </div>
      <button onclick="addHotel('/hotels' )" class="btn btn-success"> Add a new hotel</button>
    </div>
    <hr>
    <script src="../javascripts/addHotel.js"></script>
    <script src="../javascripts/deleteHotel.js"></script>
    <%-include('./partials/footer.ejs')%>
</body>
</html>